---
kind: Secret
apiVersion: v1
metadata:
  name: dio-cluster-es-credentials
  namespace: default
stringData:
  users: |-
    {{ dio_es_user }}:{{ dio_es_pass }}
    dio_admin:Y2F0YWlvCg==
  users_roles: |-
    superuser:{{ dio_es_user }},dio_admin
    kibana_admin:dio_admin