version: '2.4'
services:
  vanilla_rocksdb:
      image: taniaesteves/rocksdb:v5.17.2
      pid: host
      hostname: {{ target_hostname.stdout }}
      privileged: true
      mem_limit: 1024m
      blkio_config:
        device_write_bps:
          - path: /dev/sda
            rate: 200mb
      command: ycsbwa
      volumes:
        - /lib/modules:/lib/modules:ro
        - /usr/src:/usr/src:ro
        - /sys/kernel/debug/:/sys/kernel/debug/:ro
        - {{ rocksdb_data_dir }}/rocksdb_data/kvstore:/rocksdb/test/kvstore
        - {{ rocksdb_data_dir }}/rocksdb_data/results:/rocksdb/test/results
      environment:
        - DB_BENCH_OPS={{db_bench_ops}}
      stop_grace_period: 2m
