version: '2.4'
services:
  sysdig:
      image: sysdig/sysdig:0.31.4
      network_mode: host
      privileged: true
      volumes:
        - /var/run/docker.sock:/host/var/run/docker.sock
        - /dev:/host/dev
        - /proc:/host/proc:ro
        - /boot:/host/boot:ro
        - /lib/modules:/host/lib/modules:ro
        - /usr:/host/usr:ro
        - "{{ tracing_data_dir }}/sysdig/sysdig_data:/home"
      command: sysdig evt.dir='<' and "evt.type in ('open','openat')" and not fd.name exists -c topscalls -r /home/sysdig_trace.scap
      environment:
        - SYSDIG_BPF_PROBE=
      stop_grace_period: 2m

