version: '2.4'
services:
  sysdig:
      image: taniaesteves/sysdig-filebench:1.0.0
      network_mode: host
      privileged: true
      volumes:
        - /var/run/docker.sock:/host/var/run/docker.sock
        - /dev:/host/dev
        - /proc:/host/proc:ro
        - /boot:/host/boot:ro
        - /lib/modules:/host/lib/modules:ro
        - /usr:/host/usr:ro
        - "{{ tracing_data_dir }}/sysdig/sysdig_data:/home"
      command: /usr/bin/time --verbose --output=/home/time-sysdig-events-stats.txt {{ sysdig_stats_script }} all
      environment:
        - SYSDIG_BPF_PROBE=
        - ES_HOSTS={{es_nodes_ips_list | regex_replace('\"', '') }}
        - ES_USERNAME={{dio_es_user}}
        - ES_PASSWORD={{dio_es_pass}}
        - SYSDIG_COMMAND={{ sysdig_command }}
        - LS_BATCH_SIZE={{ ls_batch_size }}
        - LS_BATCH_DELAY={{ ls_batch_delay }}
      stop_grace_period: 2m

