version: '2.4'
services:
  sysdig:
      image: sysdig/sysdig:0.31.4
      network_mode: host
      privileged: true
      volumes:
        - /var/run/docker.sock:/host/var/run/docker.sock
        - /dev:/host/dev
        - /proc:/host/proc:ro
        - /boot:/host/boot:ro
        - /lib/modules:/host/lib/modules:ro
        - /usr:/host/usr:ro
        - {{ tracing_data_dir }}/sysdig/sysdig_data:/home
      command: sysdig container.name="tests_rocksdb_vanilla_rocksdb_1" and "evt.type in ('open','openat','creat','read','pread','readv','write','pwrite','close')" and fd.name contains "kvstore" -s 1 -w /home/trace_container_es.sysdig
      environment:
        - SYSDIG_BPF_PROBE=
      stop_grace_period: 2m

